/* Genral css */

.app {
  overflow: hidden;
}

* {
  font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
  background-color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #ffffff !important;
  z-index: 99999999999999 !important;
  padding-right: 70px;
}

.navitem {
  color: #fff;
  padding: 10px 40px 35px 40px;
  text-decoration: none;
}

.navitem:hover {
  color: #fff;
  text-decoration: none;
}

.navitem-active {
  border-bottom: 7px solid #eb2a2e;
  font-weight: bold !important;
}

.webp .logo {
  background-image: url('https://bobianwebsite.s3.me-south-1.amazonaws.com/logo.webp');
  background-size: 100% 100%;
  width: 146.25px;
  height: 80px;
  margin-left: 50px !important;
}

.no-webp .logo {
  background-image: url('https://bobianwebsitepng.s3.me-south-1.amazonaws.com/whitelogo.png');
  background-size: 100% 100%;
  width: 146.25px;
  height: 80px;
  margin-left: 50px !important;
}

.fa-chevron-circle-down {
  position: absolute;
  bottom: -25px !important;
  margin: auto;
  width: 50px;
  cursor: pointer;
  right: 50%;
  left: 48%;
}

.homeBtn {
  background-color: #fff !important;
  text-align: center;
  color: #000 !important;
}

/* header */

.webp .header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('https://bobianwebsite.s3.me-south-1.amazonaws.com/header.webp');
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.no-webp .header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('https://bobianwebsitepng.s3.me-south-1.amazonaws.com/header.png');
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homecaption h2 {
  font-style: normal;
  font-weight: 900 !important;
  font-size: 90px;
  margin-top: 0 !important;
  color: #ffffff;
  padding-bottom: 30px;
}

.homecaption .line {
  width: 100px;
  height: 10px;
  background-color: white;
}

.homecaption h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  margin-top: 10px;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 3px;
}

.homecaption p {
  font-size: 35px;
  margin-top: 10px;
  color: #ffffff;
}

@media (max-width: 1200px) and (min-width: 500px) {
  .homecaption h2 {
    font-size: 40px !important;
    margin-top: 10px !important;
    padding-bottom: 0px;
  }

  .homecaption h3 {
    font-size: 35px !important;
    margin-top: 10px !important;
  }

  .homecaption p {
    font-size: 25px !important;
    margin-top: 10px;
  }
}
.footernav {
  /* padding-left:130px; */
  margin-top: 70px !important;
  padding-top: 35px;
  text-align: center;
}

@media (max-width: 500px) and (min-width: 350px) {
  .webp .logo {
    margin-left: 0px !important;
  }.navbar {
    padding-right: 10px !important;
  }

  .no-webp .logo {
    margin-left: 50px !important;
  }
  .homecaption h2 {
    font-size: 35px !important;
    padding-bottom: 0px;
  }

  .footer2 {
    margin-top: -30px !important;
  }

  .footernav {
    padding-left: 0px;
    margin: auto;
    padding-top: 0px;
  }

  .footer1 {
    margin-top: -45px !important;
    margin-right: 25px !important;
  }

  .homecaption {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    overflow: hidden !important;
    padding-left: 50px !important;
  }

  .homecaption h3 {
    font-size: 30px !important;
  }

  .homecaption p {
    font-size: 20px !important;
    margin-top: 5px !important;
  }

  .footer-form {
    margin-top: 0px !important;
  }
}
.copyright {
  margin-top: 10px;
  padding-top: 0px;
}
.copyright p {
  font-size: 13px;
}
@media (max-width: 350px) {
  .webp .logo {
    margin-left: 0px !important;
  }
  .navbar {padding-right: 10px !important;}
  .no-webp .logo {
    margin-left: 50px !important;
  }

  .homecaption h2 {
    font-size: 25px !important;
    padding-bottom: 0px;
  }

  .homecaption h3 {
    font-size: 20px !important;
  }

  .homecaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .footer2 {
    margin-top: -30px !important;
  }
  .footernav {
    padding-left: 0px;
    margin: auto;
    padding-top: 0px;
  }

  .copyright {
    margin-top: 0px;
    padding-top: 0px;
  }
  .links {
    padding-top: 0px;
  }
  .footer1 {
    margin-top: -45px !important;
    margin-right: 25px !important;
  }

  .homecaption p {
    font-size: 16px !important;
    margin-top: 5px !important;
  }

  .footer-form {
    margin-top: 0px !important;
  }
}

.inquiries {
  position: absolute;
  /* width: 200px; */
  /* height: 100px; */
  right: 0px;
  bottom: 50px !important;
  background: #ffffff;
  padding: 30px !important;
  font-style: normal;
  font-weight: 500;
  font-size: 19px !important;
  line-height: 23px;
  padding: 10px;
  font-size: 15px;
  line-height: 7px;
}

.blt-section h3 {
  font-size: 45px !important;
  line-height: 52px !important;
}

/* rookies-section */

.rookies-section {
  padding-top: 40px;
}

.rookies-section h2 {
  font-style: normal;
  font-weight: bolder;
  font-family: 'roboto' !important ;
  font-size: 118px;
  line-height: 138px;
  text-align: center;
  padding: 20px;

  color: #ffffff;

  background-color: #eb2a2e;
}

.rookies-section h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  padding-bottom: 25px;
  text-align: center;

  color: #000000;
}

.rookies-section h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 30px;
  text-align: center;

  color: #000000;
}

/* blt section */

.blt-section {
  padding: 100px 10px;
  background-color: black;
}

.blt-img {
  width: 35vw;
  margin: auto;
}
@media (max-width: 500px) {
  .blt-img {
    width: 70vw;
    margin: auto;
  }
  .footer-form {
    margin-top: 0px !important;
  }
}

.title-line {
  margin: 50px auto 20px;
  width: 170px;
  height: 8px;
  background-color: white;
}

.blt-section h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  /* line-height: 82px; */

  text-align: center;

  color: #ffffff;
}
.blt-section h4 {
  font-style: normal;
  font-weight: normal;
  /* font-size: 25px; */
  /* line-height: 40px; */
  font-size: 30px;
  text-align: center;
  color: white;
  margin: auto;
}

/* leaders-section */

.leaders-section {
  overflow: hidden;
}

.leaders-section-title .red {
  background-color: #eb2a2e;
}

.leaders-section-title h2 {
  color: black;
  background-color: white;
  text-align: center;
  padding: 5px 16px;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 40px;
  /* display: inline; */
}

.leaders-section-title h4 {
  text-align: center;
}

.border-50 {
  border-radius: 50px;
}

.carousel-caption {
  position: absolute;
  right: auto;
  bottom: 20px;
  left: 50px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.leaders-section-title p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: black;
}

.leaders-section-title .my-button {
  background: #eb2a2e;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 4px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: auto;
  color: #ffffff;
}

/* Offering-section */

.Offering-section h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  /* line-height: 82px; */

  text-align: center;

  color: #000000;
}

.my-button {
  background: #eb2a2e;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: auto;
  color: #ffffff;
  margin: 0px;
}

.my-button:hover {
  background: #eb2a2e;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  border-color: white;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: auto;
  color: #ffffff;
}

.Offering-section .card-title {
  font-weight: 700;
  margin-bottom: 2rem;
}

/* footer */

.webp .homefooter {
  background-image: url('https://bobianwebsite.s3.me-south-1.amazonaws.com/Footer-BG.webp');
  background-size: 100% 100%;
  background-position: center;
  padding-bottom: 5px !important;
  margin-bottom: 0 !important;
  color: #ffffff !important;
}
.no-webp .homefooter {
  background-image: url('https://bobianwebsitepng.s3.me-south-1.amazonaws.com/Footer-BG.png');
  background-size: 100% 100%;
  background-position: center;
  padding-bottom: 5px !important;
  margin-bottom: 0 !important;
  color: #ffffff !important;
}
/* .links{
  padding-top: 20px;
} */

.footerlinks {
  float: right;
}

.footerlinks i {
  border-radius: 50% !important;
  background-color: #fff !important;
  color: black !important;
  padding: 10px;
  font-size: 16px;
}

.homefooter a {
  color: #ffffff !important;
}

.webp .footerlogo {
  background-image: url('https://bobianwebsite.s3.me-south-1.amazonaws.com/logo.webp');
  background-size: 100% 100%;
  width: 146.25px;
  height: 80px;
  margin: auto !important;
}
.no-webp .footerlogo {
  background-image: url('https://bobianwebsitepng.s3.me-south-1.amazonaws.com/whitelogo.png');
  background-size: 100% 100%;
  width: 146.25px;
  height: 80px;
  margin: auto !important;
}
.homefooter ul {
  list-style-type: none;
  text-align: center !important;
}

.homefooter li {
  padding-bottom: 10px !important;
}

.signform input {
  height: 60px;
  border-top: none;
}

.signform {
  text-align: left !important;
}

input,
label {
  border: none;
}

input {
  font-size: 14px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  color: #ffffff !important;
  width: 70%;
  background: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  outline: 0 !important;
  white-space: nowrap;
  border-bottom: 1px solid #333;
  border-bottom: 1px solid #fff;
}

label {
  position: absolute;
  top: 20px;
  padding: 2px 0 0 7px;
  transition: all 200ms;
  opacity: 0.5;
  left: 5px;
  font-size: 15px;
}

input:focus + label,
input:valid + label {
  font-size: 16px;
  transform: translate3d(0, -60%, 0);
  opacity: 1;
  outline: 0 !important;
}

.submit-button {
  background-color: #fff;
  color: #000;
  padding: 2px 20px;
  float: right;
}

.fa-chevron-circle-down {
  position: absolute;
  bottom: -5px;
  margin: auto;
  font-size: 40px;
  cursor: pointer;
  right: 50%;
  z-index: 99999558;
  color: #fff !important;

  left: 48%;
}

.submit-button {
  color: #000;
  background-color: #fff;
  padding: 2px 20px;
  margin-right: 100px;
  border: none !important;
}
.footer1 {
  margin-top: 50px !important;
}

.footer2 {
  padding-top: 30px !important;
}

/* .copyright{
  margin-top:20px;
} */

/* moataz media */

@media (max-width: 991px) {
  .signformcaption {
    text-align: center !important;
  }

  .webp .homefooter {
    background: url('https://bobianwebsite.s3.me-south-1.amazonaws.com/Footer-BgBlack.webp');
    margin-bottom: 20px;
  }
  .no-webp .homefooter {
    background: url('https://bobianwebsitepng.s3.me-south-1.amazonaws.com/Footer-BgBlack.png');
    margin-bottom: 20px;
  }
  .footer3 {
    text-align: center !important;
  }

  .footer3 .inputsign {
    text-align: center !important;
  }

  .footer2 h5,
  .footer3 h5 {
    margin: auto !important;
    text-align: center !important;
    border-top: 1px solid #fff;
    padding-top: 15px;
  }

  .footer2 p {
    margin: auto !important;
    text-align: center !important;
    margin-top: 15px !important;
  }

  .navitem-active {
    border-bottom: none !important;
  }
  .footerlinks {
    text-align: center;
    float: unset;
    margin-top: 25px;
  }
  /* .submit-button {
      background-color: #fff;
      color: #000;
      padding: 2px 20px;
      float: unset !important;
    } */

  .signform input {
    font-size: 14px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    color: #ffffff !important;
    width: 90%;
    margin-left: 100px;
    background: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    outline: 0 !important;
    white-space: nowrap;
    border-bottom: 1px solid #333;
    border-bottom: 1px solid #fff;
  }

  label {
    border: none;
    margin-left: 100px;
  }
}

@media (max-width: 1000px) {
  .red h2 {
    font-size: 30px;
    font-weight: 900;
  }

  .leaders-section-title h4 {
    font-size: 20px;
  }

  .Offering-section h2 {
    font-size: 30px;
    font-weight: 900;
  }

  .blt-section h4 {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .blt-section-white h4 {
    font-size: 20px !important;
    text-align: left !important;
    padding: 5px 0 !important;
  }

  .blt-section-white {
    padding: 10px !important;
  }

  .navo {
    margin-bottom: 20px !important;
  }

  .navitem-active {
    border-bottom: none !important;
    font-size: 20px !important;
    font-weight: bold !important;
  }

  .mylink1 {
    margin-top: 15px;
  }

  .fa-chevron-circle-down {
    position: absolute;
    bottom: -10px;
    margin: auto;
    font-size: 35px !important;
    cursor: pointer;
    right: 50% !important;
    left: 46% !important;
  }

  .title-line {
    width: 100px;
  }

  .footerlinks {
    text-align: center;
    float: unset;
    margin-top: 25px;
  }

  .signform input {
    font-size: 14px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    color: #ffffff !important;
    width: 70%;
    margin-left: 40px;
    background: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    outline: 0 !important;
    white-space: nowrap;
    border-bottom: 1px solid #333;
    border-bottom: 1px solid #fff;
  }

  label {
    border: none;
    margin-left: 40px;
  }
}

@media (max-width: 1150px) and (min-width: 500px) {
  .rookies-section h2 {
    font-size: 55px !important;
    line-height: 65px !important;
  }

  .footerlinks {
    text-align: center;
    float: unset;
    margin-top: 25px;
  }

  .phone {
    padding-right: 0px;
  }

  .fax {
    padding-right: 0px;
  }

  .email {
    padding-right: 0px;
  }
}

@media (max-width: 650px) {
  .inquiries {
    bottom: 30px !important;
    padding: 7px !important;
    font-size: 15px !important;
    line-height: 5px !important;
  }

  .line {
    width: 100px;
    height: 5px;
    margin-bottom: 5px !important;
  }

  .blt-section h3 {
    font-size: 30px !important;
    line-height: 52px !important;
  }

  .rookies-section h2 {
    font-size: 26px !important;
  }

  .rookies-section h3 {
    font-size: 20px !important;
    line-height: 30px !important;
  }

  .rookies-section h4 {
    font-size: 18px !important;
    line-height: 30px !important;
  }

  .blt-section h4 {
    font-size: 20px !important;
    line-height: 20px !important;
    text-align: unset;
  }

  /* .leaders-section-title .red {
        display: none !important
    } */

  .submit-button {
    margin-right: 50px !important;
  }

  .footer-form {
    margin-top: 0px !important;
  }

  .footerlinks {
    text-align: center;
    float: unset;
    margin-top: 25px;
  }
  .phone {
    padding-right: 0px;
  }

  .fax {
    padding-right: 0px;
  }

  .email {
    padding-right: 0px;
  }
}

.slick-prev {
  z-index: 100000000000 !important;
  left: 25% !important;
  top: 100% !important;
  color: #000 !important;height: 60px !important;width: 60px;
}

.homeslider {
  margin-bottom: 100px !important;
}

.slick-next {
  z-index: 100000000000 !important;
  right: 25% !important;
  top: 100% !important;
  color: #000 !important;height: 60px !important;
  width: 60px;
}

.slick-next:before {
  content: '\203A' !important;
  color: black !important;
  font-size: 60px !important;
}

.slick-prev:before {
  content: '\2039' !important;
  color: black !important;
  font-size: 60px !important;
}

/* @media (min-width: 700px) {
  .homevideo {
    width: 1000px;
    height: 315px;
  }
} */

.homevideo {
  width: 100%;
  height: 415px;
}

/* @media (min-width: 700px) {
  .homevideo {
    width: 1000px;
    height: 315px;
  }
} */

.interimg {
  width: 930px;
  height: 450px;
  margin: auto;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
  border-radius: 40px;
}

@media (max-width: 490px) {
  .interimg {
    width: 930px;
    height: 250px;
    margin: auto;
  }

  .footer-form {
    margin-top: 0px !important;
  }

  .footerlinks {
    text-align: center;
    float: unset;
    margin-top: 25px;
  }

  .phone {
    padding-right: 0px;
  }

  .fax {
    padding-right: 0px;
  }

  .email {
    padding-right: 0px;
  }
}

/* @media (min-width: 1520px)  {

  #root{  width: 1533px;
  }
} */

.footer-form {
  margin-top: 80px !important;
}
/* .box {
  display: inline;
  padding-right: 30px;
  margin-left: 50px;
} */
@media (max-width: 970px) {
  .box {
    text-align: center;
    display: block;
  }

  .footer-form {
    margin-top: 0px !important;
  }

  .phone {
    padding-right: 0px;
  }

  .fax {
    padding-right: 0px;
  }

  .email {
    padding-right: 0px;
  }
}

.links {
  margin-top: 30px;
}

@media (max-width: 500px) {
  .links {
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .footerlinks {
    text-align: center;
    float: unset;
    margin-top: 25px;
  }

  .phone {
    padding-right: 0px !important;
  }

  .fax {
    padding-right: 10px !important;
  }

  .email {
    padding-right: 0px !important;
  }
}

.phone {
  padding-right: 10px;
}

.fax {
  padding-right: 30px;
}

.email {
  padding-right: 25px;
}

.submit-button:active,
.submit-button:focus,
.submit-button:hover {
  color: #000 !important;
  background-color: #fff !important;
  padding: 2px 20px;
  margin-right: 100px;
  border: none !important;
}

@media (max-width: 1300px) and (min-width: 893px) {
  .navitem {
    padding: 15px 10px 35px 15px !important;
  }
}
